



/* Body */ 

body {
    background-color: #D2FACA;
}

/* Navbar Computador */

.navbar {
    background-color: #327A26 !important;
}

/* .navbar-collapse {
    margin-right: 7vh;
} */

.shadow-lg {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

/* Search */

/* .search {
    margin-top: 5vh;
}

.search_write {
    margin-right: 45vh;
    margin-left: 35vh;
} */