body {
    background-color: #E7E8D6;
}

/* Navbar Computador */

.navbar {
    background-color: #327A26 !important;
}

.shadow-lg {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

.nav-link{
    margin-right: 6vh;
} 

/* Search */

.fundo-search {
    background-color: #D2FACA;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

/* Droppdown */

.dropdown-menu {
    background-color: #198754;
}

.form-check {
    margin-left: 0.50vh;
}

.form-check-label {
    color: #FFFFFF;
}

/* Droppdown Fim */

.pesquisa {
    margin-left: 3vh;
}

.btn_pesquisa {
    margin-left: 0.30vh;
    margin-right: 9vh;
}

/* Produto */

.div32 {
    border: 1px solid #C2C2C2;
}

@media (max-width: 575.98px) {

    .div36 {
        padding: 1vh 1vh 1vh 1vh;
    }

    .div36 h5 {
        font-size: 1.2vh;
    }

    .div37 {
        margin-top: 2vh;
    }

};

@media (min-width: 991.98px) {
    .div37 {
        margin-top: 2vh;
    }
 }

@media (min-width: 1199.98px) { 

    .div34 img {
        width: 92%;
    }
 }

@media (min-width: 1399.98px) { 

    .div34 img {
        width: 82%;
    }
 }